html {
  background-color: rgb(95, 209, 73);
}

body {
  font-family: sans-serif;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 75px;
  border-radius: 25px;
}

header h1 {
  margin-bottom: 0px;
}

#funcionamento {
  margin-top: 10px;
  margin-bottom: 25px;
  font-style: italic;
}

#texto-tarefa:focus {
  outline: none !important;
  border: 1px solid rgb(11, 94, 215);
  box-shadow: 0 0 10px #719ECE;
}

.buttao {
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
  color: white;
  border: none;
}

.buttao:hover {
  opacity: 80%;
}

#criar-tarefa {
  background-color: rgb(11, 94, 215);
}

#opt-buttons {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

#remover-selecionado {
  background-color: brown;
}

#mover-cima,
#mover-baixo {
  background-color: orange;
}

#apaga-tudo {
  background-color: rgb(11, 94, 215);
}

#remover-finalizados {
  background-color: brown;
}

#salvar-tarefas {
  background-color: rgb(22, 159, 17);
}

.item-selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}